taskcat_outputs/*
maint/*
*project_override*
*dub.json
ci/taskcat-ireland.yml
*frankfurt.json
ci/taskcat-frankfurt.yml
*n-virginia.json
ci/taskcat-n-virginia.yml
.vscode/settings.json
.taskcat-*-*-*.yml